
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="header">        
        <h3 class="text-muted">Übersicht</h3>
      </div>
      <div id="startText">Zum Start Next-Button betätigen</div>

      <div class="jumbotron">
        <span>Aktuelle Punkte: <span> <span id="points"></span>
      </div>
      
      <script type="text/javascript">
        var data = document.getElementById("points");        
        var evtSrc = new EventSource("/stream");
        evtSrc.onmessage = function(e) {
          if (e.data.includes("Redirect")){
            var temp = e.data;
            temp = temp.replace("Redirect", "");
            temp = temp.replace('\""','');
            window.location.href = "/winner?winner="+temp;
          }
          else if (e.data.includes("Start")){
             e.data = e.data.replace("Start", "");
             document.getElementById('startText').style.display='block';
          }
          else if (e.data.includes("Continue")){
             e.data = e.data.replace("Continue", "");
          }
          var json = JSON.parse(e.data);
          var html = ""; 
          json.forEach(function(val) {
           
            //getting all the keys in val (current array item)
            var keys = Object.keys(val);
            //assigning HTML string to the variable html
            html += "<div class = 'jumbotron'>";
            //iterating through all the keys presented in val (current array item)
            keys.forEach(function(key) {
              //appending more HTML string with key and value aginst that key;
              html += "<strong>" + key + "</strong>: " + val[key] + "<br>";
            }); 
            //final HTML sting is appending to close the DIV element.
            html += "</div><br>";
          });

          document.getElementById("points").innerHTML = html;
          
        };
        
          

        
        
        
        
      </script>
      

      <footer class="footer">
        <p>&copy; WirJun Cooperation</p>
      </footer>

    </div>
  </body>
</html>

