
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/css/signUp.css" rel="stylesheet">
    <link href="../static/css/global.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
   
  </head>

  <body>

    <div class="container">
      <div class="header">        
        <h3>Python Flask App</h3>
      </div>

      <div class="jumbotron">
        <h3>DartsApp Pro</h3>
        <form class="form-signin">
        <label for="inputPlayers" class="sr-only">Anzahl Spieler</label>
        <input type="players" name="inputPlayers" id="inputPlayers" class="form-control" placeholder="Spieler" pattern="[0-9\s]{1,16}" required autofocus>
        <label for="inputPoints" class="sr-only">Punkte angeben</label>
        <input type="points" name="inputPoints" id="inputPoints" class="form-control" placeholder="Punkte" pattern="[0-9\s]{1,16}" required autofocus>      
        
        <a href="/pregame"><button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Fortfahren</button>
      </form>
      </div>

      

      <footer class="footer">
        <p>&copy; WirJun Cooperation</p>
      </footer>

    </div>
  </body>
</html>

